<a href="https://colab.research.google.com/github/JuanBarcelon/Linear_Algebra_ChE_2nd-Sem-2021-2022/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

# **Variables and Data Types**

In [ ]:
Number30 = 30
a,Nike = 0, 20
Nike

In [ ]:
type(Number)

In [ ]:
A = 5.0
type(A)

In [ ]:
Number30 = float(Number30)
type(Number30)
Number30

In [ ]:
s,t,u = "900", '500', 'Five Hundred'
type(u)

In [ ]:
integer = int(500000)
integer

# **Operations**

## ARITHMETIC

In [ ]:
a, b, c ,d = 70, 6, 0, -32

In [ ]:
### Addition
adding = a+b
adding

In [ ]:
### SUBTRACTION
Subtract = b-d
Subtract

In [ ]:
### Multiplication

Multiply = a*b*c
Multiply

In [ ]:
### Floor Division
Floor_Divide = a//b
Floor_Divide

In [ ]:
### Division
Divide = b/a
Divide

In [ ]:
### Exponentiation
Exponent = a**b
Exponent

In [ ]:
### Module
mod = d%a
mod

## ASSIGNMENT OPERATIONS

In [ ]:
G , H , J , K = 100, 200, 300, 400

In [ ]:
G += H
G

In [ ]:
H -= d
H

In [ ]:
J *= 2
J

In [ ]:
K **= 3
K

## COMPARATOS

In [ ]:
res_1, res_2, res_3 = 3,5.0, "1"
true_val = 1.0

In [ ]:
## Equality
res_1 == true_val

In [ ]:
## Non-equality
res_2 != true_val

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/res_2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2
print("the first is {}, and the second is {}" .format(t2, t1))

## Logical

In [ ]:
res_1 == true_val

False

In [ ]:
res_1 is res_1

True

In [ ]:
res_1 is not true_val

True

In [ ]:
p, q = True, False
conj = p and q
conj

False

In [ ]:
p, q = True, False
disj = p or q
disj

True

In [ ]:
p, q = True, False
nand = not(p and q)
nand

True

In [ ]:
p, q = True, False
xor = (not p and q) or (p and not q)
xor

True

## I/O

In [ ]:
print ("Welcome to linear algebra")

In [ ]:
cnt = 1

In [ ]:
string = "welcome to linear algebra"
print(string, ", Current run count is:", cnt)
cnt +=1

In [ ]:
print(f"{string}, Current count is: {cnt}")

In [ ]:
sem_grade = 82.5
name = "Barcelon"
verdict = "passed"
print("hello {}, your semestral grade is: {} \
\nyour verdict is: {}".format(name, sem_grade, verdict))

print("hello", name, ", your sem grade is:", sem_grade)

In [ ]:
w_pg, w_mg, w_fg = 30, 0.3, 0.4
print("The weights of your sem grades are:\
\n\t{} for Prelims\
\n\t{} for Midterms, and\
\n\t{} for Finals." .format(w_pg, w_mg, w_fg))

print("The weights of your sem grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals." .format(w_pg, w_mg, w_fg))

In [ ]:
x = input("Favorite Food: ")
y = input("Favorite Drink: ")
y

In [ ]:
name = input("Enter your name: ")
pg = input("Enter prelim grade: ")
mg = input("enter midterm grade: ")
fg= input("Enter finals grade: ")
sem_grade = 90
print("Hello {}, your semestreal grade is: {}".format(name,sem_grade))

# **Looping Statements**

### While

In [ ]:
## While Loops
Variable_1, Variable_2 = 10, 20
while (Variable_1<= Variable_2):
  print(f"{Variable_1}\t|\t{Variable_2}")
  Variable_1 +=1

10	|	20
11	|	20
12	|	20
13	|	20
14	|	20
15	|	20
16	|	20
17	|	20
18	|	20
19	|	20
20	|	20

### For

In [ ]:
A = 0
for A in range(20):
    print(A)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
playlist = ["Once Dance", "God's Plan", "Passionfruit"]
print('Now Playing: \n')
for song in playlist:
  print(song)

Now Playing:

Once Dance
God's Plan
Passionfruit

# **Flow Control**

### Condition Statements

In [ ]:
AB, CD =14,14
if(AB == CD):
    print("AB is equal to CD")
elif(AB>CD):
    print("AB is greater than CD")
else:
  print("IDK")

AB is equal to CD

In [ ]:
### Functions

In [ ]:
def Total_followers (followers):
    print("Your total followers are: {}". format(followers))

def Follow_account ():
    print("You followed __'s account")

In [ ]:
followers = 987
Total_followers (987)
Follow_account ()

Your total followers are: 987
You followed __'s account

In [ ]:
def add(num1, num2):
    print("i know how to add num1 and num2")
    return num1 + num2
def power_of_base2(exponent):
    return 2**exponent

exponent = 10
num1 = 10
num2 = 10

#add(num1, num2)
add(num1, num2)

i know how to add num1 and num2

20

# **Semestral Grade Calculator**

In [ ]:
name = input("Enter your name: ")
coursename = input("Enter your course: ")

print("\nLet's compute for your semestral grade!")

 
prelims = input("\nPrelim Grade: ")
midterms = input("Midterm Grade: ")
finals = input("Finals Grade:")

prelims = float(prelims)
midterms = float(midterms)
finals = float(finals)

## Weighted grades

prelims_w = prelims * 0.3
midterms_w = midterms * 0.3
finals_w = finals * 0.4

sem_grade = (prelims_w + midterms_w + finals_w)

sem_grade_percent = sem_grade / 100


passing_grade = 70

if (sem_grade == passing_grade):
    print("\nHi {}, your semestral grade is: {:.2%}, \U0001F606 ". format(name, sem_grade_percent))
elif (sem_grade > passing_grade):
    print("\nHi {}, your semestral grade is: {:.2%}, \U0001F600 ". format(name, sem_grade_percent))
else:
    print("\nHi {}, your semestral grade is: {:.2%}, \U0001F62D ". format(name, sem_grade_percent))

Enter your name: Jepoy Dizon
Enter your course: Petroleum Enginering

Let's compute for your semestral grade!

Prelim Grade: 98
Midterm Grade: 75
Finals Grade:86

Hi Jepoy Dizon, your semestral grade is: 86.30%, 😀