<a href="https://colab.research.google.com/github/JuanBarcelon/Linear_Algebra_ChE_2nd-Sem-2021-2022/blob/main/Activity_1_Barcelon_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

# **VARIABLES AND DATA TYPES**

A Python variable is a symbolic name that is a reference or pointer to an object while data types data are used to classify one particular type of data. This is important because the specific data type you use will determine what values you can assign to it and what you can do to it. The python data types discussed in this lesson are: 

- string
- float
- integer

In [ ]:
Number30 = 30
a,Nike = 0, 20
Nike

20

In [ ]:
type(Number30)

int

In [ ]:
A = 5.0
type(A)

float

In [ ]:
Number30 = float(Number30)
type(Number30)
Number30

30.0

In [ ]:
s,t,u = "900", '500', 'Five Hundred'
type(u)

str

In [ ]:
integer = int(500000)
integer

500000

# **OPERATIONS**

Operations are symbols that are used to perform mathematical operations such as addition, division, multiplication, and other more. It is also used to carry out logical computations.

## Arithmetic

In [ ]:
a, b, c ,d = 70, 6, 0, -32

In [ ]:
### Addition
adding = a+b
adding

76

In [ ]:
### SUBTRACTION
Subtract = b-d
Subtract

38

In [ ]:
### Multiplication

Multiply = a*b*c
Multiply

0

In [ ]:
### Floor Division
Floor_Divide = a//b
Floor_Divide

11

In [ ]:
### Division
Divide = b/a
Divide

0.08571428571428572

In [ ]:
### Exponentiation
Exponent = a**b
Exponent

117649000000

In [ ]:
### Module
mod = d%a
mod

38

## Assignment Operations

In [ ]:
G , H , J , K = 100, 200, 300, 400

In [ ]:
G += H
G

300

In [ ]:
H -= d
H

232

In [ ]:
J *= 2
J

600

In [ ]:
K **= 3
K

64000000

## Comparators

In [ ]:
res_1, res_2, res_3 = 3,5.0, "1"
true_val = 1.0

In [ ]:
## Equality
res_1 == true_val

False

In [ ]:
## Non-equality
res_2 != true_val

True

In [ ]:
## Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/res_2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2
print("the first is {}, and the second is {}" .format(t2, t1))

the first is False, and the second is False

In [ ]:
res_1 == true_val

False

## Logical

In [ ]:
res_1 is res_1

True

In [ ]:
res_1 is not true_val

True

In [ ]:
p, q = True, False
conj = p and q
conj

False

In [ ]:
p, q = True, False
disj = p or q
disj

True

In [ ]:
p, q = True, False
nand = not(p and q)
nand

True

In [ ]:
p, q = True, False
xor = (not p and q) or (p and not q)
xor

True

## I/O

In [ ]:
print ("Welcome to linear algebra")

Welcome to linear algebra

In [ ]:
cnt = 1

In [ ]:
string = "welcome to linear algebra"
print(string, ", Current run count is:", cnt)
cnt +=1

welcome to linear algebra , Current run count is: 1

In [ ]:
print(f"{string}, Current count is: {cnt}")

welcome to linear algebra, Current count is: 2

In [ ]:
sem_grade = 82.5
name = "Barcelon"
verdict = "passed"
print("hello {}, your semestral grade is: {} \
\nyour verdict is: {}".format(name, sem_grade, verdict))

print("hello", name, ", your sem grade is:", sem_grade)

hello Barcelon, your semestral grade is: 82.5
your verdict is: passed
hello Barcelon , your sem grade is: 82.5

In [ ]:
w_pg, w_mg, w_fg = 30, 0.3, 0.4
print("The weights of your sem grades are:\
\n\t{} for Prelims\
\n\t{} for Midterms, and\
\n\t{} for Finals." .format(w_pg, w_mg, w_fg))

print("The weights of your sem grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals." .format(w_pg, w_mg, w_fg))

The weights of your sem grades are:
	30 for Prelims
	0.3 for Midterms, and
	0.4 for Finals.
The weights of your sem grades are:
	3000.00% for Prelims
	30.00% for Midterms, and
	40.00% for Finals.

In [ ]:
x = input("Favorite Food: ")
y = input("Favorite Drink: ")
y

Favorite Food: bacon
Favorite Drink: apple juice

'apple juice'

In [ ]:
name = input("Enter your name: ")
pg = input("Enter prelim grade: ")
mg = input("enter midterm grade: ")
fg= input("Enter finals grade: ")
sem_grade = 90
print("Hello {}, your semestreal grade is: {}".format(name,sem_grade))

Enter your name: Juan Barcelon
Enter prelim grade: 90
enter midterm grade: 87
Enter finals grade: 89
Hello Juan Barcelon, your semestreal grade is: 90

# **LOOPING STATEMENTS**

Looping statements are used to repeat a statement or block of statements until a certain condition is reached. Python provides two types of loops:

- while loop
- for loop

### While

In [ ]:
## While Loops
Variable_1, Variable_2 = 10, 20
while (Variable_1<= Variable_2):
  print(f"{Variable_1}\t|\t{Variable_2}")
  Variable_1 +=1

10	|	20
11	|	20
12	|	20
13	|	20
14	|	20
15	|	20
16	|	20
17	|	20
18	|	20
19	|	20
20	|	20

### For

In [ ]:
A = 0
for A in range(20):
    print(A)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
playlist = ["Once Dance", "God's Plan", "Passionfruit"]
print('Now Playing: \n')
for song in playlist:
  print(song)

Now Playing:

Once Dance
God's Plan
Passionfruit

# **FLOW CONTROL**

The flow controls are the order in which the programâ€™s code executes. The types of flow control used in the figure above are conditional statements and functions. Conditional statements consist of â€œifâ€, â€œelifâ€, and â€œelseâ€ statements that show results based on what conditions are to be met. A function is used to call an object in python, and can also return an object.

### Condition Statements

In [ ]:
AB, CD =14,14
if(AB == CD):
    print("AB is equal to CD")
elif(AB>CD):
    print("AB is greater than CD")
else:
  print("IDK")

AB is equal to CD

### Function

In [ ]:
def Total_followers (followers):
    print("Your total followers are: {}". format(followers))

def Follow_account ():
    print("You followed __'s account")

In [ ]:
followers = 987
Total_followers (987)
Follow_account ()

Your total followers are: 987
You followed __'s account

In [ ]:
def add(num1, num2):
    print("I know how to add num1 and num2")
    return num1 + num2
def power_of_base2(exponent):
    return 2**exponent

exponent = 10
num1 = 10
num2 = 10

#add(num1, num2)
add(num1, num2)

I know how to add num1 and num2

20

# **Semestral Grade Calculator**

This is a semestral grade calculator which inputs and prints the student's name, course, and calculated semestral grade with an emoji based on if he/she passed, failed, or is equal to the passing grade.

In [ ]:
name = input("Enter your name: ")
coursename = input("Enter your course: ")

print("\nLet's compute for your semestral grade!")

 
prelims = input("\nPrelim Grade: ")
midterms = input("Midterm Grade: ")
finals = input("Finals Grade:")

prelims = float(prelims)
midterms = float(midterms)
finals = float(finals)

## Weighted grades

prelims_w = prelims * 0.3
midterms_w = midterms * 0.3
finals_w = finals * 0.4

sem_grade = (prelims_w + midterms_w + finals_w)

sem_grade_percent = sem_grade / 100


passing_grade = 70

if (sem_grade == passing_grade):
    print("\nHi {}, your semestral grade is: {:.2%}, \U0001F606 ". format(name, sem_grade_percent))
elif (sem_grade > passing_grade):
    print("\nHi {}, your semestral grade is: {:.2%}, \U0001F600 ". format(name, sem_grade_percent))
else:
    print("\nHi {}, your semestral grade is: {:.2%}, \U0001F62D ". format(name, sem_grade_percent))

Enter your name: Jepy Dizon
Enter your course: petroleum engineering

Let's compute for your semestral grade!

Prelim Grade: 98
Midterm Grade: 89
Finals Grade:86

Hi Jepy Dizon, your semestral grade is: 90.50%, ðŸ˜€